<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="/css/producto.css">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <nav class="nav_principal">
        <nav class="navigation">
        <section class="encabezado_principal">
            <article class="logo">
                <picture>
                <img class="imagen_logo" src="/images/logo_sin_fondo.svg" alt="log GOL STORE">
            </picture>
        </article>
    </nav>
        <nav>
        <article class="buscador">
            <form class="barra">
                <label for="search">Barra busqueda</label>
                <input type="search" class="barra_buscar" id="search" name="search"
                    placeholder="Buscar productos, marcas"><i class="fas fa-search"></i>
            </form>
    </article>
</nav>
    <nav class="login_icons">
        <ul type="none" class="menu2">
            <li><a href='/register'></a><i id="icons" class="fa-regular fa-user"></i></li>
            <li><a href='/login'></a><i id="icons" class="fa-solid fa-heart"></i></li>
            <li><a href=''></a><i id="icons" class="fa-solid fa-cart-shopping"></i></li>
        </ul>
    </nav>
</nav>
        <div class="menu_mobile">
                <button class="navbar-toggler d-md-none" type="button" aria-controls="sg-navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                    ☰
                </button>
            </div>
            </section>
        
    
    </header>

    <main>
        <nav class="opciones">
            <ul type="none" class="opciones-1">
                <li class="opciones-2"><a href="">Categorias</a><ul class="opciones-3" type="none">
                    <li><a href="#">Servicio 1</a></li>
                    <li><a href="#">Servicio 2</a></li>
                    <li><a href="#">Servicio 3</a></li>
                </ul></li>
                <li class="opciones-2"><a href="">Mujer</a><ul class="opciones-3" type="none">
                    <li><a href="#">Servicio 1</a></li>
                    <li><a href="#">Servicio 2</a></li>
                    <li><a href="#">Servicio 3</a></li>
                </ul></li>
                <li class="opciones-2"><a href="">Hombre</a><ul class="opciones-3" type="none">
                    <li><a href="#">Servicio 1</a></li>
                    <li><a href="#">Servicio 2</a></li>
                    <li><a href="#">Servicio 3</a></li>
                </ul></li>
                <li class="opciones-2"><a href="">Marcas</a><ul class="opciones-3" type="none">
                    <li><a href="#">Servicio 1</a></li>
                    <li><a href="#">Servicio 2</a></li>
                    <li><a href="#">Servicio 3</a></li>
                </ul></li>
                <li class="opciones-2"><a href="">Zapatillas</a><ul class="opciones-3" type="none">
                    <li><a href="#">Servicio 1</a></li>
                    <li><a href="#">Servicio 2</a></li>
                    <li><a href="#">Servicio 3</a></li>
                </ul></li>
                <li class="opciones-2"><a href="">Novedades</a><ul class="opciones-3" type="none">
                    <li><a href="#">Servicio 1</a></li>
                    <li><a href="#">Servicio 2</a></li>
                    <li><a href="#">Servicio 3</a></li>
                </ul></li>
            </ul>
        </nav>
        <nav class="product">
            <nav class="imagenes-productos">
                <section class="img_product">
                    <img class="img_product-1" src="/images/ADIU2142-1.jfif" alt="">
                    <img class="img_product-1" src="/images/ADIU2142-2.jfif" alt="">
                    <img class="img_product-1" src="/images/ADIU2142-3.jfif" alt="">
                    <img class="img_product-1" src=" /images/ADIU2142-4.jfif" alt="">
            </nav>
            <nav>    
                </section>
            <section class="det_product"></section>
            <div class="descriptions">
                <h3>Remera Argentina adidas 2024 Hombre Algodón</h3>
            </div>
            <div class="n_article"> 
                <h6>Item No. ADIU2142</h6>
            </div>
            <div class="price">
                <h4>$45.999</h4>
            </div>
            <br>
            <p><i class="fa-regular fa-credit-card"></i><a href="/">Conoce las promociones</a></p>
        </nav>
        </nav>

    </main>
    <footer>
        <div class="footer-div-menus">
            <div class="singular-menu">
                <h3 class="footer-h3">Institucional</h3>
                <div class="sub-menus-footer">
                    <a href="#">Quiénes somos</a>
                    <a href="#">Historia</a>
                    <a href="#">Misión y Visión</a>
                    <a href="#">Políticas de privacidad</a>
                    <a href="#">Términos y condiciones</a>
                    <a href="#">Defensa al consumidor</a>
                </div>
            </div>
            <div class="singular-menu">
                <h3 class="footer-h3">Ayuda</h3>
                <div class="sub-menus-footer">
                    <a href="#">FAQ</a>
                    <a href="#">Pagos y promociones</a>
                    <a href="#">Soporte Técnico</a>
                </div>
            </div>
            <div class="singular-menu">
                <h3 class="footer-h3">Atención al Cliente</h3>
                <div class="sub-menus-footer">
                    <a href="#">Teléfonos</a>
                    <a href="#">Emails</a>
                    <a href="#">Horario</a>
                </div>
            </div>
        </div>
        <div class="footer-div-copyright">
            <img src="images/logo_sin_fondo.svg" alt="imagen de goool store">
            <p class="footer-p-copyright">© Copyright GOOOL STORE 2024 - www.gooolstore.com.ar - TODOS LOS DERECHOS RESERVADOS. Las fotos del site y el logotipo son propiedad de www.gooolstore.com.ar y las marcas de sus respectivos titulares. Está prohibida la reproducción total o parcial, sin la expresa autorización del administrador de la tienda virtual. GOOOL STORE, empresa perteneciente al grupo DIGITALHOUSE con domicilio en "VALLA–A–SABER–DONDE" N° "VALLA–A–SABER–CUAL" de la Provincia de Buenos Aires – Argentina. </p>
        </div>
    </footer>
    
</body>
</html>